// 相关方法
// 解决设置文字间隔 文字不居中
letterSpacing()
  letter-spacing arguments
  text-indent arguments
// 按钮颜色
btnColor()
  border thin solid arguments
  color arguments
  &:hover
    color arguments == $whiteColor ? $blackColor : $whiteColor
    background-color arguments
  @media screen and (max-width 991px)
    width 100%
// 颜色
// $blueColor = #3759BA
$blueColor = #52AEF9
$lightBlueColor = #E6ECF2
$darkBlueColor = #778DA7
$whiteColor = #ffffff
$darkGreyColor = #73797C
$lightGreyColor = #919799
$greyColor = #F2F4F3
$blackColor = #000000
$redColor = #F56C6C
$orangeColor = #FFA03C
// chrome
// 默认蓝底
*
  -webkit-tap-highlight-color transparent
/* 设置滚动条的样式 */
::-webkit-scrollbar
  width 4px
  height 4px
/* 滚动槽 */
::-webkit-scrollbar-track
  -webkit-box-shadow inset 0 0 6px rgba(230, 236, 242, 0.3)
  border-radius 10px
/* 滚动条滑块 */
::-webkit-scrollbar-thumb
  border-radius 10px
  background #bbb
  -webkit-box-shadow inset 0 0 6px rgba(230, 236, 242, 0.5)
// 表单自动填充背景
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active
  -webkit-box-shadow 0 0 0 30px $lightBlueColor inset
html
  font-size 0.625rem
  overflow-x hidden !important
  height 100%
body
  height 100%
  padding 0
  margin 0
  font-family 'webfont' !important
  font-size 1rem
  font-style normal
  overflow-x hidden !important
  max-width 768px
  margin 0 auto
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
ul
  list-style none
  margin 0
  padding 0
a
  text-decoration none
  color $blackColor
// 取消点击出现黄色框
svg:focus, .el-message-box__wrapper:focus
  outline none
// margin padding
.mt-1
  margin-top 0.5rem
.mt-2
  margin-top 1.5rem
.mt-3
  margin-top 2.5rem
.mb-1
  margin-bottom 0.5rem
.mb-2
  margin-bottom 1rem
.mb-3
  margin-bottom 2.5rem
// 按钮
.btn
  white-space nowrap
  font-size 1.4rem
  font-weight 500
  text-align center
  display inline-block
  letterSpacing 1.2rem
  border 0
  border-radius 30px
  cursor pointer
  &:focus
    outline 0
.btn-lg
  width 100%
  padding 1.4rem 0
.btn-md
  width 10rem
  padding 1rem 0
.btn-sm
  width 10rem
  padding 1rem 0
// 标题
.title-lg
  font-size 2.1rem
  color $blueColor
  font-weight 600
  letterSpacing 0.4rem
.title-md
  font-size 1.8rem
  letterSpacing 0.2rem
// 常规文字
.text-lg
  font-size 1.8rem
  letter-spacing 0.4rem
.text-md
  font-size 1.4rem
.text-sm
  font-size 1rem
// 页头页脚
.editor>.el-header, .el-footer.read
  height auto !important
// 布局容器
.el-header
  padding-top 17px
  height 50px
.el-main
  padding 0 20px 20px
// 弹出框
.el-message-box
  max-width 97%
// 消息提示框
.el-message
  min-width 97%
  top 10px !important
// 抽屉
.el-drawer, .el-drawer__container
  outline none
  border-radius 15px 15px 0 0
.el-drawer__body
  margin 0 20px
// 加载
.el-loading-text
  padding-top 10px
// 下拉菜单
.el-dropdown-menu
  width 75px
.el-dropdown-menu__item
  display flex
  flex-direction row
  align-items center
  justify-content space-between
  padding 0 10px
// 输入框样式 --- user-forgetPwd
.account .el-input__inner, .forget-pwd .el-input__inner
  background-color transparent
  border 0
  border-radius 0
  border-bottom 1px solid $darkBlueColor
  color $darkBlueColor
  letterSpacing 0.2rem
  padding-left 3.5rem !important
  &:focus
    color $blueColor
    border-bottom-color $blueColor
    +.el-input__prefix>svg
      color $blueColor
.account .el-form-item.is-error .el-input__inner, .forget-pwd .el-form-item.is-error .el-input__inner
  color $redColor
  +.el-input__prefix>svg
    color $redColor
// 输入框样式 --- Index-toolbar
.index .tool-bar .el-input__inner
  // background-color $greyColor
  border-radius 30px
  height 30px
  line-height 30px
.index .tool-bar .el-input--prefix.el-input--suffix .el-input__icon
  color $darkGreyColor
  line-height 30px
  height 30px
// 输入框样式 --- Editor-toolBar
.editor .tool-bar .el-input__inner
  background-color transparent
  border 0
  border-radius 0
  color $whiteColor
  letterSpacing 0.2rem
  text-align center
  font-size 1.8rem
// card
.el-card__body
  padding 10px
// Notification
.el-notification__title
  -webkit-touch-callout none
  -webkit-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none